.site-page-header-ghost-wrapper {
  background-color: #222121;
   padding:15px;
   
   
 }
 .pater > div {
   display: inline-block;
   width: 15%;
   font-size: x-large;
   margin: 8px;;
   color: white;
   ;
 }
 .pater {
  text-align: right;
  color: white;
  size: large;
 }


