@import '~antd/dist/antd.css';

.container {
    width: 100%;
    max-width: 1000px;
    margin: 1.6em auto;
    
    gap: 1.6em;
    /* grid-template-columns: repeat(4, 1fr) 3%;
     */
     
}
.content {
    background: #f0f2f5;
    padding: 20px;
    margin-top: 50px;
    color: #000000;
    border: #f0f2f5;
    grid-template-columns: repeat(5, 1fr); 
}
* {
    margin: 0;
    padding: 0;
}


/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

.singup {
    width: 90%;
    max-width: 800px;
    margin: 0.5em auto;
    display: grid;
    gap: 1.6em; 
    grid-template-columns: repeat(1, 1fr);
}
.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background:#f0f2f5;
    padding: 20px;
    border: 1px solid #f0f2f5;
    color: #f0f2f5;
}

.container>.header, .container>.footer {
    
    grid-column: 1/-1;
    background-color: #000000;
    color: #ffffff;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}


.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #485460;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container> .related-post {
    background:#f0f2f5;
    color: #1890ff;
    height: 200px;
    grid-column: span 2;
    grid-row: span 4;
    display: table-cell; 
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    font-size: 3.5ch;
}


.container>.related-post:hover {
    cursor: pointer;
    color: #ffffff;
    background: #1890ff;

} 